<div class="aircraft-status {{airworthinessClass}} {{if isLoading "aircraft-status--loading"}}">
  <span class="aircraft-status__callsign">{{callsign}}</span>
  <span class="aircraft-status__type">{{type}}</span>
</div>