body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
  margin: 24px 32px;
  font-size: 24px;
}

.aircraft-status {
  position: relative;

  max-width: 450px;
  margin: 8px;
  padding: 16px;

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;

  transition: background-color .2s, color .2s;
}

.aircraft-status__refresh,
.aircraft-status__error,
.aircraft-status__thumb-up,
.aircraft-status__thumb-down {
  position: absolute;

  right: 16px;
  top: 16px;
  width: 52px;
  height: 52px;

  opacity: 0;
  transition: opacity .2s;
}

.aircraft-status--loading {
  background-color: #eee;
  color: #999;
  fill: #999;
}

.aircraft-status--loading .aircraft-status__refresh {
  opacity: 1;
}

.aircraft-status--error {
  background: hsla(42, 100%, 50%, 1);
  color: rgba(0, 0, 0, 0.7);
  fill: rgba(0, 0, 0, 0.7);
}

.aircraft-status--error .aircraft-status__error {
  opacity: 1;
}

.aircraft-status--ok {
  background: hsla(120, 100%, 35%, 1);
  color: rgba(255, 255, 255,0.7);
  fill: rgba(255, 255, 255,0.7);
}

.aircraft-status--ok .aircraft-status__thumb-up {
  opacity: 1;
}

.aircraft-status--nope {
  background: hsla(0, 100%, 35%, 1);
  color: rgba(255, 255, 255,0.7);
  fill: rgba(255, 255, 255,0.7);
}

.aircraft-status--nope .aircraft-status__thumb-down {
  opacity: 1;
}

.aircraft-status__callsign {
  font-size: 40px;
  line-height: 52px;
  margin: 0 8px;
}

.aircraft-status__type {
  font-size: 16px;
}

@media screen and (max-width:400px) {
  .aircraft-status__callsign {
    font-size: 40px;
    line-height: 40px;
  }

  .aircraft-status__type {
    display: block;
    margin: 8px 8px 4px;
    font-size: 20px;
  }

  .aircraft-status__refresh,
  .aircraft-status__error,
  .aircraft-status__thumb-up,
  .aircraft-status__thumb-down {
    width: 40px;
    height: 40px;
  }
}
