.button {
  position: relative;

  display: block;
  width: calc(100% - 16px);
  max-width: 450px;
  margin: 8px;
  padding: 16px;

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-align: left;

  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;

  transition: background-color .2s, color .2s;

  &[data-status="loading"] {
    background-color: #eee;
    color: #999;
    fill: #999;
  }

  &[data-status="error"] {
    background: hsla(42, 100%, 50%, 1);
    color: rgba(0, 0, 0, 0.7);
    fill: rgba(0, 0, 0, 0.7);
  }

  &[data-status="airworthy"] {
    background: hsla(120, 100%, 35%, 1);
    color: rgba(255, 255, 255,0.7);
    fill: rgba(255, 255, 255,0.7);
  }

  &[data-status="grounded"] {
    background: hsla(0, 100%, 35%, 1);
    color: rgba(255, 255, 255,0.7);
    fill: rgba(255, 255, 255,0.7);
  }
}

.icon {
  position: absolute;

  right: 16px;
  top: 16px;
  width: 52px;
  height: 52px;

  opacity: 0;
  transition: opacity .2s;
}

.icon__refresh {
  composes: icon;

  [data-status="loading"] & {
    opacity: 1;
  }
}

.icon__error {
  composes: icon;

  [data-status="error"] & {
    opacity: 1;
  }
}

.icon__thumb-up {
  composes: icon;

  [data-status="airworthy"] & {
    opacity: 1;
  }
}

.icon__thumb-down {
  composes: icon;

  [data-status="grounded"] & {
    opacity: 1;
  }
}

.callsign {
  font-size: 40px;
  line-height: 52px;
  margin: 0 8px;
}

.type {
  font-size: 16px;
  line-height: 16px;
}

@media screen and (max-width:400px) {
  .callsign {
    font-size: 40px;
    line-height: 40px;
  }

  .type {
    display: block;
    margin: 8px 8px 0;
  }

  .icon {
    right: 22px;
    top: 22px;
  }
}
