<h1 local-class="title">CAMO Status LVA</h1>

<AircraftStatus @id="2PQn9CjUB" @callsign="D-0628" @type="LS 8"/>
<AircraftStatus @id="37JFc7WUm" @callsign="D-9041" @type="Duo Discus"/>
<AircraftStatus @id="2JRWNcNfX" @callsign="D-KUFP" @type="HK36 Super Dimona"/>
<AircraftStatus @id="26Gk3e81q" @callsign="D-EFAC" @type="DR 400/180R"/>
