<h1 local-class="title">CAMO Status LVA</h1>

<AircraftStatus @id="rACy6WHR" @callsign="D-1108" @type="LS 4"/>
<AircraftStatus @id="2PQn9CjUB" @callsign="D-0628" @type="LS 8"/>
<AircraftStatus @id="2wesNRmGV" @callsign="D-KBBQ" @type="Duo Discus XLT"/>
<AircraftStatus @id="2JRWNcNfX" @callsign="D-KUFP" @type="HK36 Super Dimona"/>
<AircraftStatus @id="26Gk3e81q" @callsign="D-EFAC" @type="DR 400/180R"/>

  <h1 local-class="title">CAMO Status Nordstern</h1>

<AircraftStatus @id="2LWzettan" @callsign="D-5074" @type="ASK 21"/>
