<h1 class="title">CAMO Status LVA</h1>

{{aircraft-status id="2UHDjFVtA" callsign="D-0980" type="Discus CS"}}
{{aircraft-status id="WTsHJRdZ" callsign="D-8784" type="ASK 21"}}
{{aircraft-status id="37JFc7WUm" callsign="D-9041" type="Duo Discus"}}
{{aircraft-status id="26Gk3e81q" callsign="D-EFAC" type="DR 400/180R"}}