name: Deployment

on:
  push:
    branches:
      - master
      - main

env:
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: 8.15.8

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'pnpm'

      - run: pnpm install

      - run: pnpm build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'

      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'build/'

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
